<!DOCTYPE html>
<html>
<head>
    <title>Thank You</title>
    <style>
        body {
            background-image: url('static/3607424.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            margin: 0;
            max-height: 100vh;
        }
        a{
            text-align: center;
            color: white;
            margin-left: 45%;
        }
        a:hover{
            color: indianred;
        }
    </style>
</head>
<body>
    <h2 style="text-align: center; font-family: Arial, Helvetica, sans-serif; color: white; margin-top: 20%;">Thank you for registering.</h2>
    <a href="/signin">Click to Sign In</a>
</body>
</html>
